body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #428fa0;
}

section {
  padding-top: 4rem;
}

.container-kelas {
  background-color: #428fa0;
  padding-left: 8rem;
  padding-right: 8rem;
}
